@page "/Holiday"
@using BlazorPractice.Data
@using BlazorPractice.Data.Crud
@using BlazorPractice.Data.Models
@using System.Net.Http
@using System.Net.Http.Json
@inject Holidata Holidata
@inject AdoCrud adoCrud 
@inject EntityCrud entityCrud
@inject UserModel userModel
@inject NavigationManager uriHelper


<h3>Holidays</h3>

<div>
    <label>
        <input type="radio" name="selection1" value="Holidays" @onchange="HandleSelection1"> Holidays
    </label>
    <label>
        <input type="radio" name="selection1" value="Birthdays" @onchange="HandleSelection1"> Birthdays
    </label>
</div>
@if (selectedDate == "Holidays")
{
    <p>You selected Holidays.</p>

    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Local Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (PublicHoliday holiday in holidays)
                {
                <tr>
                    <td>@holiday.Date</td>
                    <td>@holiday.LocalName</td>
                </tr>
                }
        </tbody>
    </table>

}
else if (selectedDate == "Birthdays")
{
    <p>You selected Birthdays.</p>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Date</th>
                <th>Function</th>
            </tr>
        </thead>
        <tbody>
            
                @foreach (UserModel user in userModels)
                    {
                    <tr>
                        <td>@user.ID</td>
                        <td>@user.Name1</td>
                        <td>@user.Datecollum.ToString("dd-MM-yyyy")</td>
                        <td><button class="btn btn-danger" @onclick="() => DeleteUser(user.ID)">Delete Date</button></td>

                    </tr>
                    }
                
        </tbody>
    </table>
}


<div>
    <label>
        <input type="radio" name="selection" value="entity-framework" @onchange="HandleSelection"> Entity Framework
    </label>
    <label>
        <input type="radio" name="selection" value="crud" @onchange="HandleSelection"> SQL Connection
    </label>
</div>
@if (selectedOption == "entity-framework" || selectedOption == "crud")
{
    <p>You selected @selectedOption</p>
    <p>Create</p>
    <form @onsubmit="CreateUser">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" @bind="userModel.Name1" />
        </div>
        <div class="form-group">
            <label for="birthDate">Birth Date:</label>
            <input type="date" class="form-control" id="birthDate" @bind="userModel.Datecollum" />
        </div>
        <button type="submit" class="btn btn-primary">Add User</button>
    </form>

    <p><br>UPDATE.</p>
    <form @onsubmit="UpdateUser">
        <div class="form-group">
            <label for="id">ID:</label>
            <input type="text" class="form-control" id="id" @bind="userModel.ID" />
        </div>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" @bind="userModel.Name1" />
        </div>
        <div class="form-group">
            <label for="birthDate">Birth Date:</label>
            <input type="date" class="form-control" id="birthDate" @bind="userModel.Datecollum" />
        </div>
        <button type="submit" class="btn btn-primary">Update User</button>
    </form>
}



@code{
    private int userID;
    private string? userName;
    private DateTime userBirthDate = DateTime.Now;
    private List<UserModel> userModels = new List<UserModel>();
    private ICrud currentCrudService;

    private void SetCrudService()
    {
        if (selectedOption == "entity-framework")
            currentCrudService = entityCrud;
        else if (selectedOption == "crud")
            currentCrudService = adoCrud;
        else
            throw new InvalidOperationException("Invalid selectedOption");
    }

    private void CreateUser()
    {
        SetCrudService();
        currentCrudService.Create(userModel);
        ReadUser();
    }
    private void ReadUser()
    {
        SetCrudService();
        userModels = currentCrudService.Read(userModel);
    }
    private void UpdateUser()
    {
        SetCrudService();
        currentCrudService.Update(userModel);
        ReadUser();
    }
    private void DeleteUser(int id)
    {
        SetCrudService();
        currentCrudService.Delete(id);
        ReadUser();
    }

}

@code {
    private PublicHoliday[] holidays = new PublicHoliday[0];
    private string selectedOption = "";
    private string selectedDate = "";
    private Holidata[]? Holidatas;

    protected override async Task OnInitializedAsync()
    {
        holidays = await Holidata.HoliAsync();
    }

    private void HandleSelection(ChangeEventArgs e)
    {
        selectedOption = e.Value.ToString();
        ReadUser();
    }

    private void HandleSelection1(ChangeEventArgs e)
    {
        selectedDate = e.Value.ToString();
    }
}
